{% extends 'base.html' %}
{% block content %}

<div class="post-container">
    {% for post in posts %}
        <div class="post">
            <h4 class="post-title"><a href="post/{{ post.pk }}/">{{ post.title }}</a></h4>
            <p class="content">{{ post.content|linebreaksbr|truncatewords:20 }}</p>
            <p class="right-text">{{ post.published_date }} | <strong>Date</strong></p>
            <p class="right-text">{{ post.author.username }} | <strong>Author</strong></p>
        </div>
    {% endfor %}
</div>
{% endblock %}
