{% extends 'base.html' %}
{% block content %}
<div class="post-container">
    <a href="/" class="btn btn-default btn-sm btn-back-list">
        <span class= "glyphicon glyphicon-arrow-left">목록으로 돌아가기</span>

    </a>
    <div class="post">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="content">{{ post.content|linebreaksbr}}</p>
        <p class="right-text">{{ post.published_date }} | <strong>Date</strong></p>
        <p class="right-text">{{ post.author.username }} | <strong>Author</strong></p>
    </div>
</div>
{% endblock %}