{% load static %}
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--정적파일을 참조하는 템플릿 static태그 (STATICFILES_DIRS의 path를 기준으로 상대경로)-->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<title>세준 블로그</title>
</head>
<body>
	<div class="container">
		<h2 class="blog-title"><a href="">세준 블로그</a></h2>
    </div>
	<div class="container">
        {% block content %}
        {% endblock %}
	</div>

</body>
</html>